<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<h2><%= leagueName %> Standings</h2>
    <ol class="item_list">
        <% teams.forEach((teamName) => { %>
            <li><%= teamName %></li>
                <% }); %>
    </ol>

<p>Weekly Roto Standings</p>
  <select onchange=changeLocation(this.value)>
      <option value="/">Select Week</option>
      <option value="/roto?week=1">Week 1</option>
      <option value="/roto?week=2">Week 2</option>
      <option value="/roto?week=3">Week 3</option>
      <option value="/roto?week=4">Week 4</option>
      <option value="/roto?week=5">Week 5</option>
      <option value="/roto?week=6">Week 6</option>
      <option value="/roto?week=7">Week 7</option>
      <option value="/roto?week=8">Week 8</option>
      <option value="/roto?week=9">Week 9</option>
      <option value="/roto?week=10">Week 10</option>
      <option value="/roto?week=11">Week 11</option>
      <option value="/roto?week=12">Week 12</option>
      <option value="/roto?week=13">Week 13</option>
      <option value="/roto?week=14">Week 14</option>
      <option value="/roto?week=15">Week 15</option>
      <option value="/roto?week=16">Week 16</option>
      <option value="/roto?week=17">Week 17</option>
      <option value="/roto?week=18">Week 18</option>
      <option value="/roto?week=19">Week 19</option>
      <option value="/roto?week=20">Week 20</option>
      <option value="/roto?week=21">Week 21</option>
      <option value="/roto?week=22">Week 22</option>
  </select>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>

<script>
  let changeLocation = (value) => {
    // let newNode = document.createElement('div');
    // newNode.className = "loader"
    // document.getElementsByTagName('body')[0].appendChild(newNode);
    // debugger;
    $('body').append('<div style="" id="loadingDiv"><div class="loader">Loading...</div></div>');
    $(window).on('load', function(){
      setTimeout(removeLoader, 2000); //wait for page load PLUS two seconds.
    });
    debugger;
    location = value;
    function removeLoader(){
      $( "#loadingDiv" ).fadeOut(500, function() {
        // fadeOut complete. Remove the loading div
        $( "#loadingDiv" ).remove(); //makes page more lightweight
      });
    }
  }

</script>

</html>
