<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Standings</title>
</head>
<body>
<h2><%= leagueName %> Standings</h2>
    <ol class="item_list">
        <% teams.forEach((teamName) => { %>
            <li><%= teamName %></li>
                <% }); %>
    </ol>
<a href="/">Refresh Standings</a>


<p>Weekly Roto Standings</p>
<select onchange="location = this.value;">
    <option value="/">Select Week</option>
    <option value="/roto?week=1">Week 1</option>
    <option value="/roto?week=2">Week 2</option>
    <option value="/roto?week=3">Week 4</option>
    <option value="/roto?week=4">Week 5</option>
</select>
</body>
</html>
