<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Standings</title>
</head>
<body>
<h2><%= leagueName %> Standings</h2>
    <ol class="item_list">
        <% teams.forEach((teamName) => { %>
            <li><%= teamName %></li>
                <% }); %>
    </ol>
<a href="/">Refresh Standings</a>
</body>
</html>
