<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly Roto Standings</title>
</head>
<body>
<h2>Week <%= week %></h2>
    <% let team %>
    <% for(let key in stats) { %>
<ul class="item_list">
        <% stats[key].forEach((stat) => { %>
            <% team = Object.keys(stat) %>
            <li><%= team %>: <%= stat[team] %></li>
        <% });%>
</ul>
    <% }; %>
<a href="/">Refresh Standings</a>
</body>
</html>