<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly Roto Standings</title>
</head>
<body>
<h2>Week <%= week %></h2>
<ol class="item_list">

</ol>
<a href="/">Refresh Standings</a>
</body>
</html>