.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*@media only screen and (max-width : 480px) {
  .loader {
    bottom: 30em;
    right: 45em;;
  }
  body {
    background-color: red;
  }

}*/

@media all and (max-width: 768px) {
  .loader {
    bottom: 30em;
    right: 45em;;
  }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

@-webkit-keyframes imageAnimation {
    0% {
        -webkit-opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
